.element__svg-heart {
  width: 22px;
  height: 19px;
  margin: 0;
  border: 0;
  padding: 0;
  background: url(../../../images/Vector-heart.svg) no-repeat;
  background-size: cover;
  background-color: inherit;
}