.profile {
  width: 880px;
  margin: 0 auto;
  padding: 40px 0 51px;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .profile {
    width: calc(282px + (880 - 282) * (100vw - 320px) / (1024 - 320));
    padding: calc(42px + (40 - 42) * (100vw - 320px) / (1024 - 320)) 0 calc(36px + (51 - 36) * (100vw - 320px) / (1024 - 320));
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}