.header__email {
  margin: 6px 24px 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 540px) {
  .header__email {
    display: none;
  }
}