.popup-info__text {
  margin: 32px auto 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 90%;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .popup-info__text {
    margin-top: calc(40px + (32 - 40) * (100vw - 320px) / (1280 - 320));
    font-size: calc(20px + (24 - 20) * (100vw - 320px) / (1280 - 320));
    line-height: calc(24px + (29 - 24) * (100vw - 320px) / (1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .popup-info__text {
    margin-top: 32px;
    font-size: 20px;
    line-height: 24px;
  }
}