.auth__input {
  height: 14px;
  margin-top: 30px;
  border: 0;
  border-bottom: 2px solid #ccc;
  padding: 0 0 10px;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  line-height: 17px;
  background-color: #000;
}

.auth__input:nth-child(1) {
  margin-top: 52px;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .auth__input:nth-child(1) {
    margin-top: calc(42px + (52 - 42) * (100vw - 320px) / (1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .auth__input:nth-child(1) {
    margin-top: 42px;
  }
}