.profile__button-avatar {
  overflow: hidden;
  padding: 0;
  border: 0;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__button-avatar {
    margin-right: 0;
  }
}

.profile__button-avatar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../image/Vector-avatar-pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__button-avatar:hover:after {
  opacity: 1;
}